* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: calibri;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background: #353535;
    color: black;
    align-self: stretch;
    -webkit-app-region: drag;
}


.option{
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    -webkit-app-region: no-drag;
}

.option:hover{
    background: red;
}

div#filePicker {
    align-self: stretch;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
}

div#mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

div#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* edit image css */

div#imageControls, div#preview {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
}

div#imageEditor {
    display: flex;
    flex-direction: row;
}

div.effectType {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    font-size: 1.5rem;
    cursor: pointer;
}